<div class="form">
  <form (ngSubmit)="onSubmit(registrationForm)" #registrationForm="ngForm">
    <h3>Registration Form</h3>

    <div>
      <label for="uname">Username</label>
      <input type="text" id="uname" name="username" #uname="ngModel" ngModel required minlength="5" maxlength="15"
        pattern="[a-zA-Z0-9]*" [ngClass]="{'add-err-border': registrationForm.submitted && !uname.valid}">
      <div *ngIf="registrationForm.submitted">
        <small *ngIf="uname.errors?.['required']">Username is Required</small><br>
        <small *ngIf="uname.errors?.['minlength']">Minimum 5 Character should be entered</small>
        <small *ngIf="uname.errors?.['pattern']">Special Characters are not allowed</small>
      </div>
    </div><br>

    <div>
      <label for="email">Email Id</label>
      <input type="email" id="email" name="emailid" #email="ngModel" ngModel required email
        [ngClass]="{'add-err-border': registrationForm.submitted && !email.valid}">
      <div *ngIf="registrationForm.submitted">
        <small *ngIf="email.errors?.['required']">Please Enter Mail Id</small>
        <small *ngIf="email.errors?.['email']">Enter Valid Email Id</small>
      </div>
    </div><br>

    <div>
      <label for="pwd">Password</label>
      <input type="password" id="pwd" name="password" #pwd="ngModel" ngModel required minlength="6" maxlength="12"
        [ngClass]="{'add-err-border': registrationForm.submitted && !pwd.valid}">
      <div *ngIf="registrationForm.submitted">
        <small *ngIf="pwd.errors?.['required']">Password is Required</small><br>
        <small *ngIf="pwd.errors?.['minlength']">Enter alteast 6 Characters</small>
      </div>
    </div><br>

    <div>
      <label for="confirmpwd">Confirm Password</label>
      <input type="password" id="confirmpwd" name="confirmpassword" #confirmpwd="ngModel" ngModel required
        [ngClass]="{'add-err-border': registrationForm.submitted && !confirmpwd.valid}">
      <div *ngIf="registrationForm.submitted">
        <small *ngIf="confirmpwd.errors?.['required']">Please enter Confirm Password</small><br>
        <small *ngIf="confirmpwd.errors?.['matching']">Please enter Confirm Password</small><br>
      </div>

    </div><br>

    <div>
      <label>Select Gender</label>
      <input type="radio" id="male" name="gender" value="male" ngModel required #gender="ngModel">
      <label for="male">Male</label>

      <input type="radio" id="female" name="gender" value="Female" ngModel required #gender="ngModel">
      <label for="female">female</label><br>
      <div *ngIf="registrationForm.submitted">
        <small *ngIf="gender.errors?.['required']">Select Gender</small>
      </div>

    </div><br>

    <div>
      <label for="education">Select Qualification:</label>
      <select id="education" name="degree" ngModel required #education="ngModel">
        <option value="primary">Primary Education</option>
        <option value="diploma">Diploma</option>
        <option value="Bachelor">Bachelor's</option>
        <option value="Masters">Master's</option>
        <option value="doctorate">Doctorate</option>
      </select><br>
      <div *ngIf="registrationForm.submitted">
        <small *ngIf="education.errors?.['required']">Please select Qualification</small><br>
      </div>
    </div><br>

    <div>
      <label><input type="checkbox" name="acceptTerms" ngModel required #termsaccept="ngModel">I Accepts Terms and
        Conditions</label> <br>
      <div *ngIf="registrationForm.submitted">
        <small *ngIf="termsaccept.errors?.['required']">Accept Terms is Required</small><br>
      </div>

    </div>

    <div>
      <input type="submit" value="submit" id="btn">
    </div>


  </form>
</div>